/* Color themes */ /* + Appearance */
:root {
    /* Theme colors */
    --primary-bg: #fff;
    --menu-bg: #eee;
    --color: #000;
    /* Color mixing */
    --darken: #000;
    --lighten: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        /* Theme colors */
        --primary-bg: #111;
        --menu-bg: #222;
        --color: #fff;
        /* Color mixing */
        --darken: #fff;
        --lighten: #000;
    }
}

body {
    background-color: var(--primary-bg);
    color: var(--color);
    font-family: sans-serif;
}

.svg-icon {
    background-size: contain;
    background-position: center;
    height: 1rem;
    width: 1rem;
}

@media (prefers-color-scheme: light) {
    .svg-icon {
        filter: invert();
    }
}

/* Icons */
.icon {
    height: 1em;
    width: 1em;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: content-box; /* add padding to create space around */
    background-image: var(--icon);

    &.delete {--icon: url(../Icons/delete.svg)}
    &.check {--icon: url(../Icons/check.svg)}
    &.plus {--icon: url(../Icons/plus.svg)}
    &.add_task {--icon: url(../Icons/add_task.svg)}
}

/* Responsive design */
body {
    margin: 0;
    padding: .5ch 20%;
}

@media (aspect-ratio < 5 / 3) {
    body {
        padding-inline: 10ch;
    }
}

@media (aspect-ratio < 1) OR (width < 30ch) {
    body {
        padding-inline: .5ch;
    }
}