body {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    margin-block: 1rem;
}

section {
    width: 100%;
}

.controls {
    background-color: var(--menu-bg);
    border-radius: .5rem;
    padding: .5rem;
}

.timer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.timer-wrapper {
    display: flex;
    flex-direction: column;
}

#timer {
    font-size: 5rem;
    
}

#start-stop {
    width: 10ch;
    height: 3rem;
    background-color: var(--menu-bg);
    color: var(--color);
    border: 1px solid #fff0;
    border-radius: .5rem;
    cursor: pointer;
    &:hover {
        border-color: #fff1;
        background-color: color-mix(in srgb, var(--menu-bg) 97.5%, var(--darken));
    }
}